<a href="https://colab.research.google.com/github/saikiranvicky/Pandas/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
import pandas as pd

# Loading Data using Pandas

In [0]:
data = pd.read_csv('/content/drive/My Drive/pandas/pokemon_data.csv')

In [12]:
print(data.head(5))

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

# Reading data using pandas

# reading headers

In [10]:
print(data.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#reading columns

In [11]:
print(data['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

#reading mutliple columns

In [12]:
print(data[['Name', 'HP']])

                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

#Reading Each Row

In [13]:
print(data.iloc[1])

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

#You can also use iterrows to loop through each row

In [63]:
print(data.iloc[1:5])

#for index,row in data.iterrows():
  #print(index,row['Name'])

   #                   Name      Type 1  ... Sp. Def Speed  Generation
1  2                Ivysaur  Grass_Poke  ...      80    60           1
2  3               Venusaur  Grass_Poke  ...     100    80         Max
3  3  VenusaurMega Venusaur  Grass_Poke  ...     120    80         Max
4  4             Charmander        Fire  ...      50    65           1

[4 rows x 13 columns]

#Reading a specific Location

In [23]:
data.iloc[4,1]

'Charmander'

Can Also select based on any specific term

In [24]:
data.loc[data['Type 1']=='Water']

       #                     Name Type 1  ... Speed  Generation  Legendary
9      7                 Squirtle  Water  ...    43           1      False
10     8                Wartortle  Water  ...    58           1      False
11     9                Blastoise  Water  ...    78           1      False
12     9  BlastoiseMega Blastoise  Water  ...    78           1      False
59    54                  Psyduck  Water  ...    55           1      False
..   ...                      ...    ...  ...   ...         ...        ...
724  656                  Froakie  Water  ...    71           6      False
725  657                Frogadier  Water  ...    97           6      False
726  658                 Greninja  Water  ...   122           6      False
762  692                Clauncher  Water  ...    44           6      False
763  693                Clawitzer  Water  ...    59           6      False

[112 rows x 12 columns]

#Sorting/Describing the data

In [25]:
data.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [26]:
data.sort_values('Name')

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

In [27]:
data.sort_values(['Name','HP'], ascending=False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [30]:
data.sort_values(['Name','HP'], ascending=[1,0])

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

#Making changes to the data
Adding a column to the csv file

In [0]:
data['Total'] = data['HP']+data['Attack']+data['Defense']

In [32]:
data.head(3)

   #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1  Bulbasaur  Grass  Poison  ...     45           1      False    143
1  2    Ivysaur  Grass  Poison  ...     60           1      False    185
2  3   Venusaur  Grass  Poison  ...     80           1      False    245

[3 rows x 13 columns]

Drop a coulmn

In [41]:
data = data.drop(columns=['Total'])
data.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

Adding all rows of some specific columns with horizontal axis

In [0]:
data['Total'] = data.iloc[:,4:10].sum(axis=1)

changing columns in the csv file

In [44]:
cols = list(data.columns)
print(cols)
data = data[cols[0:4]+[cols[-1]]+cols[4:12]]
data.head(3)

['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

   #       Name Type 1  Type 2  ...  Sp. Atk  Sp. Def  Speed  Generation
0  1  Bulbasaur  Grass  Poison  ...       65       65     45           1
1  2    Ivysaur  Grass  Poison  ...       80       80     60           1
2  3   Venusaur  Grass  Poison  ...      100      100     80           1

[3 rows x 13 columns]

#Save the changes to new csv file

In [0]:
data.to_csv('/content/drive/My Drive/pandas/new_pokemon.csv',index= False)

Save to text file

In [0]:
data.to_csv('/content/drive/My Drive/pandas/new_pokemon.txt',index=False,sep='\t')

#Filtering Data

Conditions to access specific columns

In [0]:
new_data = data.loc[(data['Type 1']=='Water') & (data['Type 2']=='Poison')]

In [0]:
new_data.reset_index(drop=True,inplace=True)

In [51]:
new_data

    #        Name Type 1  Type 2  ...  Sp. Atk  Sp. Def  Speed  Generation
0  73  Tentacruel  Water  Poison  ...       80      120    100           1

[1 rows x 13 columns]

TO access some elements with matching string

In [52]:
data.loc[data['Name'].str.contains('Mega')]

       #                       Name    Type 1  ... Sp. Def  Speed  Generation
3      3      VenusaurMega Venusaur     Grass  ...     120     80           1
7      6  CharizardMega Charizard X      Fire  ...      85    100           1
8      6  CharizardMega Charizard Y      Fire  ...     115    100           1
12     9    BlastoiseMega Blastoise     Water  ...     115     78           1
19    15      BeedrillMega Beedrill       Bug  ...      80    145           1
23    18        PidgeotMega Pidgeot    Normal  ...      80    121           1
71    65      AlakazamMega Alakazam   Psychic  ...      95    150           1
87    80        SlowbroMega Slowbro     Water  ...      80     30           1
124  115  KangaskhanMega Kangaskhan    Normal  ...     100    100           1
229  212          ScizorMega Scizor       Bug  ...     100     75           2
283  260      SwampertMega Swampert     Water  ...     110     70           3
336  308      MedichamMega Medicham  Fighting  ...      85    100           3
339  310    ManectricMega Manectric  Electric  ...      80    135           3
349  319      SharpedoMega Sharpedo     Water  ...      65    105           3
354  323      CameruptMega Camerupt      Fire  ...     105     20           3
366  334        AltariaMega Altaria    Dragon  ...     105     80           3
387  354        BanetteMega Banette     Ghost  ...      83     75           3
397  362          GlalieMega Glalie       Ice  ...      80    100           3
409  373    SalamenceMega Salamence    Dragon  ...      90    120           3
413  376    MetagrossMega Metagross     Steel  ...     110    110           3
418  380          LatiasMega Latias    Dragon  ...     150    110           3
420  381          LatiosMega Latios    Dragon  ...     120    110           3
426  384      RayquazaMega Rayquaza    Dragon  ...     100    115           3
476  428        LopunnyMega Lopunny    Normal  ...      96    135           4
494  445      GarchompMega Garchomp    Dragon  ...      95     92           4
498  448        LucarioMega Lucario  Fighting  ...      70    112           4
511  460    AbomasnowMega Abomasnow     Grass  ...     105     30           4
527  475        GalladeMega Gallade   Psychic  ...     115    110           4
591  531          AudinoMega Audino    Normal  ...     126     50           5
796  719        DiancieMega Diancie      Rock  ...     110    110           6

[30 rows x 13 columns]

To exclude matching strings from the csv file

In [53]:
data.loc[~data['Name'].str.contains('Mega')]

       #                 Name   Type 1  ... Sp. Def  Speed  Generation
0      1            Bulbasaur    Grass  ...      65     45           1
1      2              Ivysaur    Grass  ...      80     60           1
2      3             Venusaur    Grass  ...     100     80           1
4      4           Charmander     Fire  ...      50     65           1
5      5           Charmeleon     Fire  ...      65     80           1
..   ...                  ...      ...  ...     ...    ...         ...
794  718     Zygarde50% Forme   Dragon  ...      95     95           6
795  719              Diancie     Rock  ...     150     50           6
797  720  HoopaHoopa Confined  Psychic  ...     130     70           6
798  720   HoopaHoopa Unbound  Psychic  ...     130     80           6
799  721            Volcanion     Fire  ...      90     70           6

[559 rows x 13 columns]

In [54]:
!pip install re

ERROR: Could not find a version that satisfies the requirement re (from versions: none)
ERROR: No matching distribution found for re

In [0]:
import regex

In [0]:
import re

In [57]:
data.loc[data['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

       #                 Name    Type 1  ... Sp. Def  Speed  Generation
20    16               Pidgey    Normal  ...      35     56           1
21    17            Pidgeotto    Normal  ...      50     71           1
22    18              Pidgeot    Normal  ...      70    101           1
23    18  PidgeotMega Pidgeot    Normal  ...      80    121           1
30    25              Pikachu  Electric  ...      50     90           1
219  204               Pineco       Bug  ...      35     15           2
239  221            Piloswine       Ice  ...      60     50           2
438  393               Piplup     Water  ...      56     40           4
558  499              Pignite      Fire  ...      55     55           5
578  519               Pidove    Normal  ...      30     43           5

[10 rows x 13 columns]

#Conditional Changes
Changing specific elements of a type in a column to any value

In [0]:
data.loc[data['Type 1']=='Grass','Type 1'] = 'Grass_Poke'

In [59]:
data.loc

In [60]:
data

       #                   Name      Type 1  ... Sp. Def  Speed  Generation
0      1              Bulbasaur  Grass_Poke  ...      65     45           1
1      2                Ivysaur  Grass_Poke  ...      80     60           1
2      3               Venusaur  Grass_Poke  ...     100     80           1
3      3  VenusaurMega Venusaur  Grass_Poke  ...     120     80           1
4      4             Charmander        Fire  ...      50     65           1
..   ...                    ...         ...  ...     ...    ...         ...
795  719                Diancie        Rock  ...     150     50           6
796  719    DiancieMega Diancie        Rock  ...     110    110           6
797  720    HoopaHoopa Confined     Psychic  ...     130     70           6
798  720     HoopaHoopa Unbound     Psychic  ...     130     80           6
799  721              Volcanion        Fire  ...      90     70           6

[589 rows x 13 columns]

We can give multiple conditions to change some specific elements in columns

In [0]:
data.loc[data['HP'] > 75 , ['Legendary','Generation']] = ['Powerful','Max']

In [62]:
data

       #                   Name      Type 1  ... Sp. Def Speed  Generation
0      1              Bulbasaur  Grass_Poke  ...      65    45           1
1      2                Ivysaur  Grass_Poke  ...      80    60           1
2      3               Venusaur  Grass_Poke  ...     100    80         Max
3      3  VenusaurMega Venusaur  Grass_Poke  ...     120    80         Max
4      4             Charmander        Fire  ...      50    65           1
..   ...                    ...         ...  ...     ...   ...         ...
795  719                Diancie        Rock  ...     150    50           6
796  719    DiancieMega Diancie        Rock  ...     110   110           6
797  720    HoopaHoopa Confined     Psychic  ...     130    70         Max
798  720     HoopaHoopa Unbound     Psychic  ...     130    80         Max
799  721              Volcanion        Fire  ...      90    70         Max

[589 rows x 13 columns]